doctype html
html
  head
    include ./shared/_meta.jade
    link(rel='shortcut icon', type='image/ico', href='/img/favicon.ico')
    link(rel='stylesheet', href='css/index.css')
    script(type='text/javascript', src='js/main.js')
    script $(window).load(init);

  body

    include ./shared/_navbar.jade

    include ./shared/_footer.jade
