.navbar.navbar-default
    .container
        .collapse.navbar-collapse
            ul.nav.navbar-nav
                li
                    a(href="/") General Materials
                li
                    a(href="/requirements.html") Requirement Deliverables
                li
                    a(href="/sprints.html") Sprint Deliverables